h1{
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    font-family: cursive;
   
}
button{
    align-content: center;
}
.mainTitle{
    border-color: black;
    border-radius: 25%;
}
#contentMain > div:hover::after{
    content: '\00bb';
    font-size: 100px;
    color: gray;
    float: right;
    margin-top: -77px;
}
.jumbotron{
    background-color:azure;
    border: 2px dashed black;
}
.jumbotron:hover{
    box-shadow: 5px 5px rgb(170, 168, 168);
    cursor: pointer;
}
